apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "ispconfig-REPLACEME"
spec:
  capacity:
    storage: "2Gi"
  nfs:
    server: "10.55.2.155"
    path: "/mnt/drobo/datastore1/openshift/REPLACEME"
  accessModes:
    - "ReadWriteMany"
    - "ReadWriteOnce"
  persistentVolumeReclaimPolicy: "Recycle"
