apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "ispconfig"
spec:
  capacity:
    storage: "50Gi"
  nfs:
    server: "10.55.2.155"
    path: "/mnt/datastore1/ocp"
  accessModes:
    - "ReadWriteMany"
    - "ReadWriteOnce"
  persistentVolumeReclaimPolicy: "Recycle"
