[Unit]
Description=Run minerd

[Service]
Type=oneshot
## example minerd_options:
## ExecStart=+/opt/minerd -o <pool> -u <user> -p <pass> -B
ExecStart=+{{ minerd_options }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
