#!/bin/bash
key="{{ dhcp_server_key }}"
server="10.55.102.5"
zone="{{ dns_domain }}"
hostname="$(hostname --short)"
reverse=$(echo ${hostip} | awk -F. '{print $4"."$3"." $2"."$1}')
reversezone=$(echo ${hostip} | awk -F. '{print $3"." $2"."$1}')
temp=/tmp.$$
touch $temp
cat > ${temp} <<EOF
server ${server}
key dhcpupdate ${key}
zone ${reversezone}.in-addr.arp
update delete ${reverse}.in-addr.arpa. PTR
update add ${reverse}.in-addr.arpa. 300 IN PTR ${hostname}.${zone}.
send
zone ${zone}
update add ${hostname}.${zone}. 300 IN A {{ ansible_default_ipv4['address'] }}
send
EOF

nsupdate -v ${temp}
echo "$*" >> /tmp/dnsmasq.updater.txt
rm -f ${temp}

